@model Wallet

@{
    ViewBag.Title = "Create new Wallet";
}

<div>
    <h1>Create new Wallet</h1>

    <div>
        <form method="post" asp-antiforgery="true">
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-2">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Currency" class="col-md-2 col-form-label"></label>
                <div class="col-md-2">
                    <select asp-for="Currency" asp-items="@ViewBag.Currencies" class="form-control selectpicker"></select>
                </div>
                <span asp-validation-for="Currency"></span>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>