@model Wallet

@{ 
    ViewBag.Title = $"Edit {Model.Id}";
}

<div>
    <h1>Edit Wallet @Model.Name</h1>
    <div>
        <form method="post" asp-antiforgery="true">
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Currency"></label>
                <select asp-for="Currency" asp-items="@ViewBag.Currencies"></select>
                <span asp-validation-for="Currency"></span>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>