@model UltraBudget.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
    var totalAmount = 0.0;
}

<h1>Transactions</h1>

@foreach (var transaction in Model.Transactions)
{
    @Html.Partial("_Summary", transaction)
}
<div>
    <a asp-action="Create">Create</a>
</div>

@section total {
    @foreach (var transaction in Model.Transactions)
    {
        if (transaction.Type == TransactionType.Credit)
        {
            totalAmount += transaction.Amount;
        }
        else if (transaction.Type == TransactionType.Debit)
        {
            totalAmount -= transaction.Amount;
        }
    }
    <h2>Total: @totalAmount</h2>
}