@model Transaction

@{ 
    ViewBag.Title = $"Edit {Model.Id}";
}

<div>
    <h1>Edit Transaction @Model.Id</h1>

    <div>
        <form method="post" asp-antiforgery="true">
            <div>
                <label asp-for="Amount"></label>
                <input asp-for="Amount" />
                <span asp-validation-for="Amount"></span>
            </div>
            <div>
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control datepicker" />
                <span asp-validation-for="Date"></span>
            </div>
            <div>
                <label asp-for="Type"></label>
                <select asp-for="Type" asp-items="@Html.GetEnumSelectList(typeof(TransactionType))"></select>
                <span asp-validation-for="Type"></span>
            </div>
            <div>
                <label asp-for="Wallet"></label>
                <select asp-for="Wallet" asp-items="@ViewBag.Wallets"></select>
                <span asp-validation-for="Wallet"></span>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>