@model UltraBudget.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Wallets";
    var totalAmountEuro = 0.0;
    var totalAmountDollar = 0.0;
    var totalAmountBitcoin = 0.0;
}

<h1>All Transactions</h1>
<div>
    <a class="btn btn-primary" asp-action="Create">Create new transaction</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Type</th>
            <th>Category</th>
            <th>Wallet</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var transaction in Model.Transactions)
    {
        @Html.Partial("_Summary", transaction)
    }
</table>

@section total {
    @foreach (var transaction in Model.Transactions)
    {
        if (transaction.Wallet.Currency.Name == "Euro")
        {
            switch (transaction.Type)
            {
                case TransactionType.Credit:
                case TransactionType.Invest:
                    totalAmountEuro += transaction.Amount;
                    break;
                case TransactionType.Debit:
                    totalAmountEuro -= transaction.Amount;
                    break;
            }
        }
        else if (transaction.Wallet.Currency.Name == "Dollar")
        {
            switch (transaction.Type)
            {
                case TransactionType.Credit:
                case TransactionType.Invest:
                    totalAmountDollar += transaction.Amount;
                    break;
                case TransactionType.Debit:
                    totalAmountDollar -= transaction.Amount;
                    break;
            }
        }
        else if (transaction.Wallet.Currency.Name == "Bitcoin")
        {
            switch (transaction.Type)
            {
                case TransactionType.Credit:
                case TransactionType.Invest:
                    totalAmountBitcoin += transaction.Amount;
                    break;
                case TransactionType.Debit:
                    totalAmountBitcoin -= transaction.Amount;
                    break;
            }
        }
    }

    @if (totalAmountEuro != 0.0)
    {
        <h2>Total Euro: @totalAmountEuro</h2>
    }

    @if (totalAmountDollar != 0.0)
    {
        <h2>Total Dollar: @totalAmountDollar</h2>
    }

    @if (totalAmountBitcoin != 0.0)
    {
        <h2>Total Bitcoin: @totalAmountBitcoin</h2>
    }
}