<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UltraBudget</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">UltraBudget</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a asp-controller="Wallets" asp-action="Index">Wallets<span class="sr-only">(current)</span></a></li>
                <li><a asp-controller="Reports" asp-action="Index">Reports</a></li>
                <li><a asp-controller="Wishlist" asp-action="Index">Wishlist</a></li>
                <li><a asp-controller="About" asp-action="Phone">About</a></li>
            </ul>
            <div class="navbar-right">
                @await Component.InvokeAsync("LoginLogout")
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <total>
            @RenderSection("total", required: false)
        </total>
    </div>
    <div class="panel-footer">
        <footer>
            <p>
                @RenderSection("footer", required: false)
                @await Component.InvokeAsync("Greeting")
            </p>
        </footer>
    </div>
    <environment names="Development">
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
</body>
</html>
