<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @await Component.InvokeAsync("LoginLogout")
    </div>
    <div>
        @RenderBody()
    </div>
    <total>
        @RenderSection("total", required: false)
    </total>
    <footer>
        <p>
            @RenderSection("footer", required: false)
            @await Component.InvokeAsync("Greeting")
        </p>
    </footer>
</body>
</html>
